body {
  font-family: 'Special Elite', cursive;
}
.bighead {
  padding: 5rem;
  background-image: url(images/header.jpg);
  background-size: cover;
  background-color: #000;
  color: #fff;
}

.bigfoot {
  padding: 5rem;
  background-image: url(images/footer.jpg);
  background-size: cover;
  background-color: #000;
  color: #fff;
}

.content {
  color: #000;
  background-image: url(images/grain.png);
  background-size: 128px;
  background-color: #fff;
}